doctype html
html(lang='en')
  head
    include ../head.jade
    title=content.pageTitle
  body
    h1=content.h1
    ul
      each entry in content.randomList
        li=entry
    h3 Map center is at #{content.mapCenter}
